body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.content {
    width: 641px;
    margin: auto;
    /*background: aquamarine;*/
    padding: 2em;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.sliderDiv {
    margin-top: 3em;
    width: 100%;
}

.gridSizeButton {
    float: right;
}

#slider {
    width: 12em;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square.winner{
    background: limegreen;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.game-info {
    /*margin-left: 20px;*/
    margin-right: 20px;
    /*float: right;*/
}
