#menuDiv {
    background-color: #f5da55;
    width: 100%;
    height: 585px;

}

.menuItem {
    width: 50%;
    height: 50%;
    float: left;
    cursor: pointer;
}

#patternDiv {
    background: white url("img/x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#gameDiv {
    background: white url("img/grid.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

#testDiv {
    background: red;
}

